<ion-view view-title="Aconselhamento">
        <ion-content class="aconselhamento-bg">
            <ion-content class="section-adviser">
                <img class="tilt-aconselhamento" src="../img/titulo-aconselhamento-10.png">
                <p class="aconselhamento-text"> <span class="drop-cap">24hrs</span> At vero eos et accusamus et iusto odio dignissimos ducimus 
                    qui blanditiis praesentium voluptatum deleniti atque corrupti quos 
                    dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt 
                    in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                     quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis 
                    est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, 
                    omnis voluptas assumenda.</p>
                <div>
                    <form class="formulario pure-form pure-form-aligned">
                            <fieldset>
                                <div class="pure-control-group">
                                    <label for="name">Exercitation </label>
                                    <input id="name" type="text" placeholder="ullamco">
                                    <span class="pure-form-message-inline">This is a required field.</span>
                                </div>
                            
                                <div class="pure-control-group">
                                    <label for="password">Commodo</label>
                                    <input id="password" type="password" placeholder="consequat">
                                </div>
                            
                                <div class="pure-control-group">
                                    <label for="email">Excepteur</label>
                                    <input id="email" type="email" placeholder="sint">
                                 </div>
                            
                                <div class="pure-control-group">
                                    <label for="foo">Doloribus</label>
                                    <input id="foo" type="text" placeholder="asperioresl">
                                </div>
                            
                                <div class="pure-controls">
                                    <label for="cb" class="pure-checkbox">
                                    <input id="cb" type="checkbox"> Placeat facere possimus
                                    </label>                           
                                        
                                </div>

                                  <textarea class="pure-input-1-2" placeholder="Necessitatibus saepe"></textarea>
                                    <button type="submit" class="btn-formulario pure-button">Submit</button>
                                </fieldset>
                            </form>
                </div>
            </ion-content> 
        </ion-content>
      </ion-view>
      