<ion-view view-title="Fique por dentro">
        <ion-content class="fique-por-dentro-bg">
            <ion-content class="section-fiquepordentro">
                    <div class="wrapper">
            
                            <div ng-click="goKhalo()" class="card radius shadowDepth1">
                                <div class="card__image border-tlr-radius">
                                    <img src="http://www.guias.midia.guiya.com.br/public/uploads/imagens/originais/noticia-foto/Frida_Kahlo_exposicao_museu_imagem_som_espaco_porto_seguro.jpg" alt="image" class="border-tlr-radius">
                                </div>
                
                                <div class="card__content card__padding">
                                    <div class="card__share">
                                        <div class="card__social">  
                                            <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                                            <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                                            <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                                        </div>
                
                                        <!-- <a id="share" class="share-toggle share-icon" href="#"></a> -->
                                    </div>
                
                                    <div class="card__meta">
                                        <a href="#">Etiam nisi velit</a>
                                        <time>17 de Março</time>
                                    </div>
                
                                    <article class="card__article">
                                        <h2><a href="#">Primis in faucibus orci - Luctus et ultrices</a></h2>
                
                                        <p>Duis ac lobortis quam. In mollis ex lacus, id fermentum lacus...</p>
                                    </article>
                                </div>
                
                                <div class="card__action">
                                    
                                    <div class="card__author">
                                        <img src="http://lorempixel.com/40/40/sports/" alt="user">
                                        <div class="card__author-content">
                                            By <a href="#">John Doe</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div ng-click="goBob()" class="card radius shadowDepth1">
                                    <div class="card__image border-tlr-radius">
                                        <img src="http://logoonline.mtvnimages.com/uri/mgid:file:gsp:entertainment-assets:/logo/shows/rupauls_drag_race/castpage10.jpg">
                                    </div>
                    
                                    <div class="card__content card__padding">
                                        <div class="card__share">
                                            <div class="card__social">  
                                                <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                                                <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                                                <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                                            </div>
                    
                                            <!-- <a id="share" class="share-toggle share-icon" href="#"></a> -->
                                        </div>
                    
                                        <div class="card__meta">
                                            <a href="#">Pharetra non at lorem</a>
                                            <time>01 de Março</time>
                                        </div>
                    
                                        <article class="card__article">
                                            <h2><a href="#">Aenean suscipit - Condimentum ante a rhoncus</a></h2>
                    
                                            <p>Hasellus ullamcorper condimentum nulla, fermentum tincidunt eros...</p>
                                        </article>
                                    </div>
                    
                                    <div class="card__action">
                                        
                                        <div class="card__author">
                                            <img src="http://lorempixel.com/40/40/sports/" alt="user">
                                            <div class="card__author-content">
                                                By <a href="#">John Doe</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                                <div ng-click="goDear()" class="card radius shadowDepth1">
                                        <div class="card__image border-tlr-radius">
                                            <img src="http://thursdaysjournal.com/wp-content/uploads/2017/05/4928-dear-white-people-featurette-reggie.jpg">
                                        </div>
                        
                                        <div class="card__content card__padding">
                                            <div class="card__share">
                                                <div class="card__social">  
                                                    <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                                                    <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                                                    <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                                                </div>
                        
                                                <!-- <a id="share" class="share-toggle share-icon" href="#"></a> -->
                                            </div>
                        
                                            <div class="card__meta">
                                                <a href="#">Rhoncus ligula massa</a>
                                                <time>29 Fevereiro</time>
                                            </div>
                        
                                            <article class="card__article">
                                                <h2><a href="#">Aliquam feugiat - Dolor nec</a></h2>
                        
                                                <p>Duis vitae lacus nec lacus facilisis lacinia. Nulla tortor felis, tristique sit...</p>
                                            </article>
                                        </div>
                        
                                        <div class="card__action">
                                            
                                            <div class="card__author">
                                                <img src="http://lorempixel.com/40/40/sports/" alt="user">
                                                <div class="card__author-content">
                                                    By <a href="#">John Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                            
                        </div>                                       
                     
            </ion-content> 
        </ion-content>
      </ion-view>
      