<ion-view view-title="Grupos">
        <ion-content>
            <ion-content class="background-grupos" >
                    <div ng-click="goChats()" class="lista-cards list card">

                            <div class="cards-groups item item-avatar">
                                <img src="../img/avatar_grupos.png">
                                <h2>At vero accusamus</h2>
                                <p>Excepturi sint occaecati cupiditate</p>
                            </div>
                        
                    </div>
                    <div ng-click="goChats()" class="lista-cards list card">
                           
                            <div class="cards-groups item item-avatar">
                                <img src="../img/avatar_grupos.png">
                                <h2>Voluptatibus maiores</h2>
                                <p>Omnis voluptas assumenda est</p>
                            </div>  
                                
                    </div>

                    <div ng-click="goChats()" class="lista-cards list card">                        
   
                            <div class="cards-groups item item-avatar">
                                <img src="../img/avatar_grupos.png">
                                <h2>Itaque earum rerum hic</h2>
                                <p>Est et expedita distinctio</p>
                            </div> 
                    </div>
                    <div ng-click="goChats()" class="lista-cards list card">                        
   
                            <div class="cards-groups item item-avatar">
                                <img src="../img/avatar_grupos.png">
                                <h2>Saepe eveniet ut</h2>
                                <p>Tenetur a sapiente delectus</p>
                            </div>
                    </div>
                    <div ng-click="goChats()" class="lista-cards list card">                        

                            <div class="cards-groups item item-avatar">
                                <img src="../img/avatar_grupos.png">
                                <h2>Quibusdam et aut</h2>
                                <p>Nam libero tempore cum soluta</p>
                            </div>
                    </div>
                  
            </ion-content>
        </ion-content>
</ion-view>
      