<ion-view view-title="Logar">
        <ion-content class="fundo-logar">
            <ion-content>
              <div class="background-logar" >             
                <div class="img-container"><img src="../img/app_tamo_junto.png"> </div>
                <div class="list list-inset">
                    <label class="item item-input">
                      <input type="text" placeholder="Email">
                    </label>
                    <label class="item item-input">
                      <input type="text" placeholder="Senha">
                    </label>
                  </div>
                </div>
            <img class="loginarrow" src="../img/right-arrow-01.png">                    
            </ion-content> 
        </ion-content>
      </ion-view>
      