<ion-view view-title="Login">
  <ion-content>
      <ion-content class="background-login" >
          <img src="../img/charity-01.png">
            <h1>Tamo <span>Junto</span></h1>
            <button ng-click="goLogar()" class="btn-tela-login button button-full">
                Fazer login
              </button>
              <button ng-click="goGrupos()" class="btn-tela-login button button-full">
                  Entrar anônimo
                </button>
                <a href="logar.html"><p>Ou crie uma conta!</p></a>   
        </ion-content>
  </ion-content>
</ion-view>
