<ion-view view-title="Fique por dentro">
        <ion-content class="section-news-bg">
            <ion-content class="section-news">
                    
                            <div class='info'>
                            </div>
                            <div class='column'>
                              <div class='post-module hover'>
                                <div class='thumbnail'>
                                  <div class='date'>
                                    <div class='day'>17</div>
                                    <div class='month'>Mar</div>
                                  </div>
                                  <img src='http://www.guias.midia.guiya.com.br/public/uploads/imagens/originais/noticia-foto/Frida_Kahlo_exposicao_museu_imagem_som_espaco_porto_seguro.jpg'>
                                </div>
                                <div class='post-content'>
                                  <div class='category'>Girl Power</div>
                                  <h1 class='title'>Etiam nisi velit</h1>
                                  <h2 class='sub_title'>Primis in faucibus orci - Luctus et ultrices</h2>
                                  <p class='description'><span class="drop-cap-2">E</span>tiam nisi velit, vestibulum nec nunc eu, porta gravida 
                                      justo. Fusce sodales ornare urna et posuere. Cras tempus, dolor tempor 
                                      sagittis tincidunt, est tortor condimentum dui, in vehicula ipsum lacus 
                                      id nibh. Quisque faucibus tincidunt condimentum. Vivamus sed fermentum 
                                      purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                       posuere cubilia Curae; Cras ante erat, ornare ac velit sit amet, auctor
                                        pellentesque erat. </p>

                                    <p class='description'>Fusce sodales ornare urna et posuere. Cras tempus, dolor tempor sagittis tincidunt, 
                                            est tortor condimentum dui, in vehicula ipsum lacus id nibh. Quisque faucibus 
                                            tincidunt condimentum. Vivamus sed fermentum purus. Vestibulum ante ipsum primis 
                                            in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ante erat, ornare 
                                            ac velit sit amet, auctor pellentesque erat. Vivamus quis pharetra velit. Pellentesque
                                            est orci, porttitor sed quam sed, ultricies porta enim. Nullam sit amet vehicula dui.
                                             Phasellus id odio id sapien vestibulum pharetra non at lorem. Aenean suscipit 
                                             condimentum neque et condimentum. Maecenas interdum purus vel sapien molestie, in
                                              luctus lacus commodo. Curabitur vitae eros eros. Duis ullamcorper sem sit amet orci
                                              finibus fermentum.</p>
                                  <div class='post-meta'>
                                    <span class='timestamp'>
                                      <i class='fa fa-clock-o'></i>
                                      6 mins ago
                                    </span>
                                    <span class='comments'>
                                      <i class='fa fa-comments'></i>
                                      <a href='#'>39 comments</a>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>                       
                                     
                     
            </ion-content> 
        </ion-content>
      </ion-view>
      