<ion-view view-title="Sobre Nos">
        <ion-content class="sobre-nos-bg">
            <ion-content class="section-sobre">
                <div class="container">
                <img class="tamo-junto-logo" src="../img/logo_tamo_junto-11.png">
                </div>
                        <p class="sobre-nos-txt aconselhamento-text"> <span class="drop-cap">A</span> t vero eos et accusamus et iusto odio dignissimos ducimus 
                            qui blanditiis praesentium voluptatum deleniti atque corrupti quos 
                            dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
                            similique sunt 
                            in culpa qui officia deserunt mollitia animi.</p>
                            
                        <img class="bandeiras" src="../img/sobre-nos-bandeiras-12.png">
                <div class="sobre-nos-box">
                        <p> <span>"</span>Bibendum posuere <span id="destaque"> sodales</span>. Pellen ut feugiat, fermentum 
                        libero eu, <span id="destaque">sapien pretium</span> nunc.<span>"</span></p>
                    
                </div>
                        <p class="sobre-nos-txt-2"> Fusce magna turpis, posuere ac felis auctor, efficitur 
                            aliquet sem. Ut tincidunt vulputate faucibus. Cras consectetur quam sit amet .</p>

                        <h3>Tamo <span> Junto!</span></h3>

            </ion-content> 
        </ion-content>
      </ion-view>